/* line 1, /Users/ttt/Work/Dev/starttter-hardware/app/styles/main.scss */
body {
  padding-top: 50px; }

/* line 5, /Users/ttt/Work/Dev/starttter-hardware/app/styles/main.scss */
.starter-template {
  padding: 40px 15px;
  text-align: center; }
